.chat {
    display: flex;
    flex-direction: column;
    flex: 0.7;
    background-color: #ffffff;
    margin-top: 100px;
}

.chat_header {
    padding: 20px;
    display: flex;
    align-items: center;
}

.header_info {
    flex: 1;
    padding-left: 20px;
}

.header_info>h2 {
    margin-bottom: 3px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.header_info>p {
    color: grey;
}

.chat_body {
    flex: 1;
    background: #242424;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 30px;
    overflow: scroll;
}

.chat_message {
    position: relative;
    font-size: 16px;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    background-color: #D76D77;
    margin-bottom: 30px;
}

.chat_timestamp {
    margin-left: 10px;
    font-size: xx-small;
}

.chat_name {
    position: absolute;
    top: -15px;
    font-weight: 700;
    font-size: x-small;
}

.chat_reciver {
    margin-left: auto;
    background-color: #dcf8c6;
}

.chat_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top: 1px solid lightgray;
}

.chat_footer>form {
    display: flex;
    flex: 1;
}

.chat_footer>form>input {
    flex: 1;
    border-radius: 30px;
    padding: 10px;
    border: none;
}

.chat_footer>form>button {
    border: none;
}