.hero {
    background-image: url("https://i.pinimg.com/564x/0b/19/8d/0b198d960e3826c2aeedab7b4377e9b9.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 200px;
    color: black;
    background-position: center;
}

.hero-container {
    margin-top: -40px;
    background: rgba(255, 255, 255, 0.29);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.2px);
    -webkit-backdrop-filter: blur(4.2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.29);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(4.2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 100px;
}

.hero-taglines {
    margin-left: -40px;
    width: 100%;
}

.hero-taglines h2 {
    font-size: 30px;
    font-weight: 600;
    color: white;
    width: 60%;
    background: -webkit-linear-gradient(#041639, #260999);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-button {
    width: 50%;
}

.hero-share-button {
    background-color: white;
    width: 300px;
    padding: 25px;
    height: 15px;
    border-radius: 20px;
    text-align: center;
    margin-top: 30px;
}

.hero-invite {
    background-color: white;
    width: 300px;
    padding: 25px;
    height: 15px;
    border-radius: 20px;
    text-align: center;
    margin-top: 30px;
}

.hero-taglines p {
    font-size: 20px;
    font-weight: 600;
    background: -webkit-linear-gradient(#041639, #120447);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.search-tab img {
    width: 25px;
    margin-left: -45px;
}

.search-tab {
    margin-top: 40px;
}

.search-tab input {
    width: 90%;
    height: 40px;
    padding: 25px;
    border-radius: 50px;
    color: black;
    outline: none;
    border: none;
    appearance: none;
}

.hero-section-2 h2 {
    background-color: black;
    color: white;
    margin-top: 40px;
}

@-webkit-keyframes slidein {
    0% {
        top: -400px;
        opacity: 0;
    }
    100% {
        opacity: 1;
        top: 0px;
    }
}

@keyframes slidein {
    0% {
        top: -400px;
        opacity: 0;
    }
    100% {
        opacity: 1;
        top: 0px;
    }
}

@-webkit-keyframes slideout {
    0% {
        top: 0;
        opacity: 1;
    }
    100% {
        top: -400px;
        opacity: 0;
    }
}

@keyframes slideout {
    0% {
        top: 0;
        opacity: 1;
    }
    100% {
        top: -400px;
        opacity: 0;
    }
}

.button {
    display: flex;
    gap: 40px;
    margin-top: 30px;
}

.button button {
    width: 250px;
    height: 40px;
    padding: 5px;
    background-color: black;
    color: white;
}

body #scene {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 1300px;
    height: 450px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    overflow: hidden;
    padding: 25px auto;
    margin-top: 43%;
}

body #scene #left-zone {
    background: #fff;
    height: 75%;
    flex-grow: 0;
    display: flex;
    width: 350px;
    align-items: center;
    justify-content: left;
}

body #scene #left-zone .list {
    display: flex;
    list-style: none;
    align-content: stretch;
    flex-direction: column;
    flex-grow: 1;
    margin: 0;
    padding: 0;
}

body #scene #left-zone .list li.item input[type=radio] {
    display: none;
}

body #scene #left-zone .list li.item input[type=radio]~label {
    display: block;
    opacity: 0.5;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

body #scene #left-zone .list li.item input[type=radio]~label:first-letter {
    text-transform: uppercase;
}

body #scene #left-zone .list li.item input[type=radio]~label:hover {
    opacity: 0.75;
    cursor: pointer;
}

body #scene #left-zone .list li.item input[type=radio]~label.label_strawberry:before {
    content: " ";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/5190/5190582.png");
    background-position: center;
    background-size: 75% 75%;
    background-repeat: no-repeat;
}

body #scene #left-zone .list li.item input[type=radio]~label.label_banana:before {
    content: " ";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    background-image: url("https://toppng.com/uploads/preview/web-development-icon-png-clipart-website-development-web-dev-icon-11562967383vhxlfmnerz.png");
    background-position: center;
    background-size: 75% 75%;
    background-repeat: no-repeat;
}

body #scene #left-zone .list li.item input[type=radio]~label.label_apple:before {
    content: " ";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/1797/1797500.png");
    background-position: center;
    background-size: 75% 75%;
    background-repeat: no-repeat;
}

body #scene #left-zone .list li.item input[type=radio]~label.label_orange:before {
    content: " ";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    background-image: url("https://uxwing.com/wp-content/themes/uxwing/download/internet-network-technology/blockchain-icon.png");
    background-position: center;
    background-size: 75% 75%;
    background-repeat: no-repeat;
}

body #scene #left-zone .list li.item input[type=radio]~.content {
    position: absolute;
    left: 350px;
    top: -400px;
    width: 950px;
    height: 400px;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-name: slideout;
    animation-name: slideout;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body #scene #left-zone .list li.item input[type=radio]~.content.content_strawberry .picto {
    height: 100px;
    width: 100px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/5190/5190582.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

body #scene #left-zone .list li.item input[type=radio]~.content.content_strawberry h1 {
    color: #D64541;
}

body #scene #left-zone .list li.item input[type=radio]~.content.content_banana .picto {
    height: 100px;
    width: 100px;
    background-image: url("https://toppng.com/uploads/preview/web-development-icon-png-clipart-website-development-web-dev-icon-11562967383vhxlfmnerz.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

body #scene #left-zone .list li.item input[type=radio]~.content.content_banana h1 {
    color: #F5D76E;
}

body #scene #left-zone .list li.item input[type=radio]~.content.content_apple .picto {
    height: 100px;
    width: 100px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/1797/1797500.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

body #scene #left-zone .list li.item input[type=radio]~.content.content_apple h1 {
    color: #00B16A;
}

body #scene #left-zone .list li.item input[type=radio]~.content.content_orange .picto {
    height: 100px;
    width: 100px;
    background-image: url("https://uxwing.com/wp-content/themes/uxwing/download/internet-network-technology/blockchain-icon.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

body #scene #left-zone .list li.item input[type=radio]~.content.content_orange h1 {
    color: #F27935;
}

body #scene #left-zone .list li.item input[type=radio]~.content h1:first-letter {
    text-transform: uppercase;
}

body #scene #left-zone .list li.item input[type=radio]~.content p {
    max-width: 50%;
    text-align: center;
}

body #scene #left-zone .list li.item input[type=radio]:checked~label {
    opacity: 1;
    -webkit-animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

body #scene #left-zone .list li.item input[type=radio]:checked~label.label_strawberry {
    color: #D64541;
    border-right: solid 4px #D64541;
}

body #scene #left-zone .list li.item input[type=radio]:checked~label.label_banana {
    color: #F5D76E;
    border-right: solid 4px #F5D76E;
}

body #scene #left-zone .list li.item input[type=radio]:checked~label.label_apple {
    color: #00B16A;
    border-right: solid 4px #00B16A;
}

body #scene #left-zone .list li.item input[type=radio]:checked~label.label_orange {
    color: #F27935;
    border-right: solid 4px #F27935;
}

body #scene #left-zone .list li.item input[type=radio]:checked~.content {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-name: slidein;
    animation-name: slidein;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

body #scene #middle-border {
    background-color: #eee;
    height: 75%;
    flex-grow: 1;
    max-width: 2px;
    z-index: 0;
}

body #scene #right-zone {
    background: #fff;
    height: 100%;
    flex-grow: 3;
}

@media screen and (max-width:1024px) {
    .hero-courses {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
    }
    .hero-courses .hero-card {
        padding: 25px;
    }
    .hero {
        width: 100%;
    }
    .hero-container {
        padding: 80px;
        margin-left: -150px;
    }
    .hero-recommended-text {
        font-weight: 800;
        background-color: rgb(0, 0, 0);
        width: 400px;
        color: white;
        margin-bottom: 30px;
    }
    .hero-courses {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .hero-section-2 {
        width: 100%;
        margin-left: -150px;
    }
    .hero-courses .hero-card {
        padding: 40px;
        width: 100%;
    }
    .hero-card-button {
        display: flex;
        margin-top: 20px;
    }
    .hero-card-button button {
        background-color: black;
        color: white;
        text-align: center;
        padding: 15px;
        width: 150px;
        margin-top: 30px;
    }
}

button:hover {
    background-color: rgb(33, 5, 74);
    color: white;
}

.card-course {
    margin-top: 20%;
    padding: 40px;
}

.card-course h1 {
    text-align: center;
    background: none;
    color: black;
}

.live-meeting {
    display: flex;
    gap: 30px;
    overflow: auto;
    scroll-snap-align: x mandatory;
}

.card {
    padding: 20px;
    width: 50%;
    flex-shrink: 0;
    scroll-snap-align: start;
}

.card button {
    width: 100%;
}

.card h1 {
    text-align: center;
}


/* width */

::-webkit-scrollbar {
    width: 20px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: rgb(225, 211, 246);
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background-image: url("https://i.pinimg.com/564x/1e/84/2a/1e842a6e90fe691ef80711a212017b40.jpg");
}