@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400&family=Overpass:wght@300&family=Poiret+One&family=Poppins:wght@300&display=swap");
body {
  background: lavender;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Overpass", sans-serif;
}

::selection {
  color: #fff;
  background: rgb(137, 8, 230);
}

h2,
p {
  transition: all 0.4s ease-in-out;
  color: black;
}

h2:hover {
  letter-spacing: 4px;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container .form {
  background: #fff;
  padding: 40px 45px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .form form .form-control {
  height: 40px;
  font-size: 15px;
  margin-top: 20px;
}

.container .form form .forget-pass {
  margin: -15px 0 15px 0;
}

.container .form form .forget-pass a {
  font-size: 15px;
}

.container .form form .button {
  background: #c33764;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
}

.container .form form .button:hover {
  background: rgb(137, 8, 230);
  letter-spacing: 4px;
}

.container .form form .link {
  padding: 5px 0;
}

.container .form form .link a {
  color: #c33764;
}

.container .login-form form p {
  font-size: 14px;
}

.container .row .alert {
  font-size: 14px;
}

/* error message */

.error_msg {
  text-align: center;
  width: 370px;
  padding: 15px;
  margin: 5px 0;
  font-size: 16px;
  color: #f34646;
  border-radius: 5px;
  text-align: center;
}
