@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    transition: all 0.4s ease-in-out;
    letter-spacing: 2px;
}

body,
html {
    font-weight: 400;
    font-family: "Centra", sans-serif !important;
    background-color: #050021 !important;
    overflow: hidden;
    /* background-size: cover;
    background-image: url("https://i.pinimg.com/564x/7c/eb/13/7ceb13b74a845d842ad149d43f35a239.jpg") !important; */
}

h1,
h3,
a,
h5,
p {
    color: rgb(255, 255, 255) !important;
}

input {
    color: black !important;
}

.login {
    display: flex;
    align-items: start;
    width: 100%;
    flex: 1;
    height: 100%;
}

.login-text {
    position: absolute;
    display: flex;
    margin-top: 30%;
    margin-left: 10%;
    color: white;
    flex-direction: column;
}

.login-container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 50%;
}

.login-container img {
    background-position: center;
    opacity: 1;
}

.login-section-2 {
    display: flex;
    flex-direction: column;
    padding: 130px;
}

.login-box {
    margin-top: 30px;
}

.login-logo {
    font-size: 15px;
    position: absolute;
    margin-top: -50px;
    margin-left: 10px;
    /* background-color: #016de4;
    padding: 15px;
    border-radius: 10px; */
    letter-spacing: 5px;
}

.login-detail-head {
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-transform: uppercase;
    animation: lightSpeedOutRight;
    letter-spacing: 4px;
    animation-duration: 2s;
    transition: all 0.5s ease-in-out;
}

.login-detail-heading {
    animation: bounce;
    animation-duration: 2s;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.login-detail-subheading {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.login-detail-subhead {
    font-weight: bold;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.login-detail-box {
    display: flex;
    flex-direction: column;
}

.login-detail-box input {
    padding: 1rem;
    outline: none;
    border: 0.5px solid black;
    background: white;
    color: black;
    margin-top: 20px;
    font-weight: 600;
}

.login-forget-password a {
    font-weight: 600;
    float: right;
    margin-top: 5px;
    cursor: pointer;
    color: white;
    color: rgb(0, 0, 0);
}

.login-button-section {
    width: 100%;
    margin-top: 10px;
}

.login-button-section button {
    width: 100%;
    padding: 0.7rem;
    outline: none;
    border: 0.5px solid black;
    background: black;
    color: white;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 40px;
}

.login-button-section button:hover {
    background: white;
    color: black;
    cursor: pointer;
    outline: none;
    font-weight: bold;
}

.text {
    color: white;
}

@media screen and (max-width: 1000px) {
    .login-section-2 {
        display: flex;
        flex-direction: column;
        padding: 50px;
        width: 100%;
    }
    .login {
        display: flex;
        flex-direction: column;
    }
    .login-container {
        width: 100%;
    }
    .login-container img {
        width: 100%;
    }
}

ul.nav {
    width: 60%;
    margin: 0 auto 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #39A2DB;
    border-radius: 2rem;
    padding-left: 0px;
}

ul.nav li {
    width: 50%;
    padding: 0.5rem;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
}

ul.nav li:nth-child(2) {
    border-radius: 0;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
}

ul.nav li:hover {
    background: rgba(50, 224, 196, 0.15);
}

.login-text-footer p {
    margin-top: 40px;
    color: black;
}

ul.nav li.active {
    background: #39A2DB;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 500px;
    height: 500px;
    background: #f1f1f1;
    margin: 100px auto 0;
    word-break: break-all;
    border: 1px solid rgba(0, 0, 0, 0.274);
}

.bloc-tabs {
    display: flex;
    position: absolute;
    width: 35%;
    left: 50%;
    top: 10%;
    z-index: 999;
}

.tabs {
    padding: 15px;
    text-align: center;
    width: 60%;
    background: #ccb1e2;
    cursor: pointer;
    border-bottom: 1px solid rgba(65, 5, 51, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
    font-weight: 500;
}

.tabs:nth-child(1) {
    border-radius: 40px 0 0px 40px;
}

.tabs:nth-child(2) {
    border-radius: 0px 40px 40px 0px;
}

.tabs:not(:last-child) {
    border-right: 1px solid #ccb1e2;
}

.active-tabs {
    background: white;
    border-bottom: 1px solid transparent;
}

.active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 5px;
    background: #39A2DB;
    font-size: 40px;
    border-radius: 20px;
}

.active-tabs {
    background: rgb(12, 8, 93);
    border-bottom: 1px solid transparent;
    color: white;
}

button {
    border: none;
}

.content-tabs {
    flex-grow: 1;
}

.content {
    padding: 40px;
    width: 100%;
    height: 100%;
    display: none;
    border-radius: 30px;
}

.content h2 {
    padding: 0px 0 5px 0px;
}

.content hr {
    width: 100px;
    height: 2px;
    background: #222;
    margin-bottom: 5px;
}

.content p {
    width: 100%;
    height: 100%;
}

.active-content {
    display: block;
}

@media screen and (max-width:768px) {
    .bloc-tabs {
        margin-top: 194%;
        width: 60%;
        margin-left: -160px;
    }
    .login-section-2 {
        display: flex;
        flex-direction: column;
        padding: 30px;
        width: 100%;
    }
}

@media screen and (max-width:450px) {
    .bloc-tabs {
        margin-top: 184%;
        width: 70%;
        margin-left: -150px;
    }
    .login-section-2 {
        display: flex;
        flex-direction: column;
        padding: 30px;
        width: 100%;
    }
}

@media screen and (max-width:350px) {
    .bloc-tabs {
        margin-top: 182%;
        width: 60%;
        margin-left: -100px;
    }
    .login-section-2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0px;
        margin-top: 30px;
    }
}

@media screen and (max-width:1024px) {
    .bloc-tabs {
        width: 30%;
        margin-left: 120px;
    }
    .login-section-2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 50px;
        margin-top: 50px;
    }
}


/*****************NAV SECTION********************/

@media screen and (min-width: 1700px) {
    main .container {
        max-width: 100%;
        padding: 0 100px;
    }
}

p.success {
    color: green;
}

p.danger {
    color: red;
}


/************ Navbar Css ************/

nav.navbar {
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition: 0.32s ease-in-out;
    background-color: #121212;
}

nav.navbar.scrolled {
    padding: 0px 0;
    background-color: #121212;
}

nav.navbar a.navbar-brand {
    width: 9%;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
    font-weight: 400;
    color: #fff !important;
    letter-spacing: 0.8px;
    padding: 0 25px;
    font-size: 18px;
    opacity: 0.75;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}

span.navbar-text {
    display: flex;
    align-items: center;
}

.social-icon {
    display: inline-block;
    margin-left: 4px;
}

.social-icon a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
    transform: scale(1);
}

.social-icon a img {
    width: 40%;
    z-index: 1;
    transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

.social-git {
    width: 50%;
}

.social-theme {
    width: 20px;
    height: 20px;
}

.navbar-text button {
    font-weight: 700;
    color: #fff;
    border: 1px solid #fff;
    padding: 18px 34px;
    font-size: 18px;
    margin-left: 18px;
    position: relative;
    background-color: transparent;
    transition: 0.3s ease-in-out;
}

.navbar-text button span {
    z-index: 1;
}

.navbar-text button::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.navbar-text button:hover {
    color: #121212;
}

.navbar-text button:hover::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

nav.navbar .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 2px solid #fff;
    transition: all 300ms linear;
    top: -2px;
}

nav.navbar .navbar-toggler-icon:focus {
    border-bottom: 2px solid #fff;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 2px;
    background-color: #fff;
    top: 0;
    left: 0;
    content: "";
    z-index: 2;
    transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon:after {
    top: 8px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
    background-color: #fff;
    height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
    background-color: #fff;
    height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}