@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    transition: all 0.4s ease-in-out;
    letter-spacing: 2px;
}

body,
html {
    font-weight: 400;
    font-family: "Centra", sans-serif !important;
    background-color: lightblue !important;
    /* background-size: cover;
    background-image: url("https://i.pinimg.com/564x/7c/eb/13/7ceb13b74a845d842ad149d43f35a239.jpg") !important; */
}

h1,
h3,
input,
a,
h5,
p {
    color: rgb(255, 255, 255);
}

.login {
    display: flex;
    align-items: start;
    width: 100%;
    flex: 1;
    height: 100%;
}

.login-text {
    position: absolute;
    display: flex;
    margin-top: 30%;
    margin-left: 10%;
    color: white;
    flex-direction: column;
}

.login-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.login-container img {
    background-position: center;
    opacity: 1;
}

.login-section-2 {
    display: flex;
    flex-direction: column;
    padding: 130px;
}

.login-box {
    margin-top: 30px;
}

.login-detail-head {
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-transform: uppercase;
}

.login-detail-heading {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.login-detail-subheading {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.login-detail-subhead {
    font-weight: bold;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.login-detail-box {
    display: flex;
    flex-direction: column;
}

.login-detail-box input {
    padding: 1rem;
    outline: none;
    border: 0.5px solid black;
    background: white;
    color: black;
    margin-top: 20px;
    font-weight: 600;
}

.login-forget-password a {
    font-weight: 600;
    float: right;
    margin-top: 5px;
    cursor: pointer;
    color: white;
    color: rgb(0, 0, 0);
}

.login-button-section {
    width: 100%;
    margin-top: 10px;
}

.login-button-section button {
    width: 100%;
    padding: 0.7rem;
    outline: none;
    border: 0.5px solid black;
    background: black;
    color: white;
    text-transform: uppercase;
    margin-top: 10px;
}

.login-button-section button:hover {
    background: white;
    color: black;
    cursor: pointer;
    outline: none;
}

.text {
    color: white;
}

@media screen and (max-width: 1000px) {
    .login-section-2 {
        display: flex;
        flex-direction: column;
        padding: 50px;
        width: 100%;
    }
    .login {
        display: flex;
        flex-direction: column;
    }
    .login-container {
        width: 100%;
    }
    .login-container img {
        width: 100%;
    }
}

ul.nav {
    width: 60%;
    margin: 0 auto 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #39A2DB;
    border-radius: 2rem;
    padding-left: 0px;
}

ul.nav li {
    width: 50%;
    padding: 0.5rem;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
}

ul.nav li:nth-child(2) {
    border-radius: 0;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
}

ul.nav li:hover {
    background: rgba(50, 224, 196, 0.15);
}

.login-text-footer p {
    margin-top: 40px;
    color: black;
    text-align: center;
}

ul.nav li.active {
    background: #39A2DB;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 500px;
    height: 500px;
    background: #f1f1f1;
    margin: 100px auto 0;
    word-break: break-all;
    border: 1px solid rgba(0, 0, 0, 0.274);
}

.bloc-tabs {
    display: flex;
    position: absolute;
    width: 30%;
    left: 50%;
    top: 10%;
    z-index: 999;
}

.tabs {
    padding: 15px;
    text-align: center;
    width: 50%;
    background: rgba(197, 184, 245, 0.93);
    cursor: pointer;
    border-bottom: 1px solid rgba(65, 5, 51, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
}

.tabs:not(:last-child) {
    border-right: 1px solid rgb(183, 155, 200);
}

.active-tabs {
    background: white;
    border-bottom: 1px solid transparent;
}

.active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    background: rgb(7, 72, 177);
}

.active-tabs {
    background: rgb(12, 8, 93);
    border-bottom: 1px solid transparent;
    color: white;
}

button {
    border: none;
}

.content-tabs {
    flex-grow: 1;
}

.content {
    background: white;
    padding: 40px;
    width: 100%;
    height: 100%;
    display: none;
    border-radius: 30px;
    text-align: center;
}

.content h2 {
    padding: 0px 0 5px 0px;
}

.content hr {
    width: 100px;
    height: 2px;
    background: #222;
    margin-bottom: 5px;
}

.content p {
    width: 100%;
    height: 100%;
}

.active-content {
    display: block;
}

@media screen and (max-width:768px) {
    .bloc-tabs {
        margin-top: 194%;
        width: 60%;
        margin-left: -160px;
    }
    .login-section-2 {
        display: flex;
        flex-direction: column;
        padding: 30px;
        width: 100%;
    }
}

@media screen and (max-width:450px) {
    .bloc-tabs {
        margin-top: 184%;
        width: 70%;
        margin-left: -150px;
    }
    .login-section-2 {
        display: flex;
        flex-direction: column;
        padding: 30px;
        width: 100%;
    }
}

@media screen and (max-width:350px) {
    .bloc-tabs {
        margin-top: 182%;
        width: 60%;
        margin-left: -100px;
    }
    .login-section-2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0px;
        margin-top: 30px;
    }
}

@media screen and (max-width:1024px) {
    .bloc-tabs {
        width: 30%;
        margin-left: 120px;
    }
    .login-section-2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 50px;
        margin-top: 50px;
    }
}